@use "../../styles/globals" as *;

.examCoverage {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1109px;
    gap: 60px;
    margin: 0 auto;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
    .content {
      max-width: 573px;
      // margin: 0 auto;
      padding: 105px 0;
      flex: 1;
      @media screen and (max-width: 768px) {
        padding: 0;
      }
      .text {
        margin-bottom: 44px;
        h3 {
          font-size: 1.75rem;
          margin-bottom: 0.5rem;
        }

        p {
          color: $text-color;
          margin-top: 24px;
        }
      }
    }

    .examsGrid {
      padding: 0 33px;
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 16px;
      margin-bottom: 2rem;
      background-image: url(/public/assets/background-blur.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      @media screen and (max-width: 768px) {
        padding: 0;
        max-width: 350px;
        margin: 0 auto;
      }
      .examItem {
        background-color: $bg-default;
        width: 130px;
        height: 130px;
        border-radius: 12px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: 768px) {
          width: 95px;
          height: 95px;
        }
        img {
          width: 50%;
          height: auto;
        }
      }
    }

    .ctaButton {
      background: #1e2a78;
      color: #fff;
      border: none;
      padding: 0.75rem 1.5rem;
      border-radius: 0.5rem;
      cursor: pointer;
      font-size: 1rem;
      transition: background 0.3s;

      &:hover {
        background: #142060;
      }
    }
  }
}
.reverse {
  flex-direction: row-reverse;
  .text {
    max-width: 552px;
    // margin: 0 auto;
  }
  .imageWrapper {
    background-image: url(/public/assets/background-blur.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    .image {
      margin: 0 auto;
      max-width: 332px;
      width: 100%;
      img {
        height: auto;
        width: 100%;
      }
    }
  }
}
