@import "../../styles/globals.scss";
.infoSection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 90px;
  padding: 125px 0;
  width: 100%;
  margin: 0 auto;
  background: $bg-primary;
}
